# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv/
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# VS Code settings
.vscode/

# Logs and local runtime data
*.log
*.out
*.pid
*.gz
logs/
*.sqlite3

# Coverage reports
.coverage
*.cover
coverage.xml
htmlcov/

# pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache
